<%-include('../partial/header')-%>
<main>
    <section class="header container">
        <div>
            <h1>Awesome Responsive Navbar</h1>
            <h4>Lorem ipsum dolor sit amet consectetur.</h4>
            <div>
                <button class="btn">DO NOT WATCH</button>
            </div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            <div><span>neknfenfenenrenlrenf</span></div>
            
        </div>
    </section>
    
</main>

<%-include('../partial/footer')-%>